_build
lwt-*.tar.gz
src/unix/lwt_config.ml
src/unix/lwt_config.h
src/unix/lwt_unix_jobs_generated.ml
src/unix/jobs-unix/
webdarcs.log
setup.data
setup.log
manual/*.toc
manual/*.pdf
manual/*.out
manual/*.log
manual/*.aux
manual/manual-wiki.tex
manual/.latex_of_wiki_offsets
setup.exe
setup-dev.exe
