sudo: required

language: c

matrix:
  include:
    - os: linux
      env: COMPILER=4.02 LIBEV=yes
    - os: linux
      env: COMPILER=4.03
    - os: linux
      env: COMPILER=4.04
    - os: linux
      env: COMPILER=4.05
    - os: linux
      env: COMPILER=4.05 FLAMBDA=yes
    - os: osx
      env: COMPILER=system
    - os: osx
      env: COMPILER=system LIBEV=yes
    - os: osx
      # A 4.04 binary is not yet available.
      env: COMPILER=4.03 PACKAGE_MANAGER=macports
    - os: osx
      env: COMPILER=4.03 PACKAGE_MANAGER=macports LIBEV=yes

env:
  global:
    - LWT_WARNINGS_AS_ERRORS=yes
    - LWT_FORCE_LIBEV_BY_DEFAULT=yes

script: bash -e src/util/travis.sh

notifications:
  email:
    recipients:
      - antonbachin@yahoo.com
    on_success: always
    on_failure: always
